.card {
  background-color: var(--mantine-color-body);
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
}

.backbutton {
  background-color: gray;
  margin: 30px;
}

.details__container {
  margin-bottom: 12vh;
}

.colorcontainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 15px;
  border-radius: 70px;
}

.color {
  height: 10vh;
  flex-grow: 1;
}
